* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color:  white;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}

header {
    background-color: darkslategray;
    display: flex;
    height: auto;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 5px;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
}

.left-content {
    display: flex;
    align-items: center;
}

.my-pic {
    height: 98px;
    width: auto;
    border: 2px;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    justify-content: left;
    border-radius: 15px 50px;
}

.header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 50px;
    color: pink; 
}

.header h2 {
    color: white;
    font-stretch: ultra-expanded;
}

.nav-links{
        margin: 0;
        padding: 0;
        list-style: none; /
}

.links {
    display: inline-block;
   
}

.links li {
    display: inline-block;
    margin-left: 20px; 
    color: white;
    background-color: darkslategray;
}

.links li a:link {
    color: white;
}

.links li a:visited {
    color: white;
}

.links li a:hover {
    color: pink;
}

.links li a:active {
    color: pink;
}

.about-me {
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 5px;
}

.about-me h1 {
    text-align: right;
    margin: 0px 5px;
    color: pink;
}


.about-me p {
    max-width: 80%;
    margin: 0px 15px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: darkslategray;
    margin-left: 10px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 5px;
  }

.portfolio h1 {
    color: pink;
  }

.portfolio p {
    color: white;
}
  
.main-photo {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    max-width: 100%;

}
  
.secondary-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
  }
  
.row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

.m-photo{
    max-width: 70%;
    height: auto;
    border: 2px solid white; /* Add a white border */
    border-radius: 5px; /* Optional: Add border radius */
    overflow: hidden; /* Optional: Hide overflowing content */
}

.sec-photo {
    max-width: 100%;
    height: auto;
  }

  figure figcaption {
    color: white;
}

.contact {
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 5px;
}

.contact h1 {
    text-align: right;
    margin: 0px 5px;
    color: pink;
}

.contact-links-div {
    display: inline-block;
    margin-left: 60px;
}

.contact-links li{
    display: inline;
    margin-left: 30px; 
    color: white;
    background-color: darkslategray;
}

/* Unvisited link */
.contact-links li a:link {
    color: white;
}

/* Visited link */
.contact-links li a:visited {
    color: white;
}

/* Mouse over link */
.contact-links li a:hover {
    color: pink;
}

/* Selected link */
.contact-links li a:active {
    color: pink;
}

